@mixin get-started-button {
  font-weight: 500;
  padding: 10px 20px;
  font-size: 14px;
  border-color: #422e87;
  background-color: #422e87;
  border-radius: 30px;
  color: #fff;
  line-height: 1.5;
  border: none;
}

@mixin max-width($max-width: 1200px) {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 768px) {
    padding: 0 30px;
  }

 
}