$color-primary: #422e87; // Example primary color
$color-secondary: rgb(255 219 83 / 75%); // Example secondary color


// Spacing
$spacing-xxs: 0.25rem;  // Extra extra small 8px
$spacing-xs: 0.5rem;    // Extra small 16px
$spacing-sm: 1rem;      // Small 24px
$spacing-md: 1.5rem;    // Medium 32px
$spacing-lg: 2rem;      // Large 40px
$spacing-xl: 3rem;      // Extra large 48px
$spacing-xxl: 4rem;     // Extra extra large 56px


// Font sizes
$font-size-xs: 0.75rem; // Extra small 12px
$font-size-sm: 0.875rem; // Small 14px
$font-size-md: 1rem;     // Medium 16px
$font-size-lg: 1.125rem; // Large 18px
$font-size-xl: 1.25rem;  // Extra large 20px
$font-size-xxl: 1.5rem;  // Extra extra large 24px


