.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 0;
  @include max-width(1200px);
  padding-bottom: 2rem !important;

  .intro-title {
    font-size: 4.5rem;
    font-weight: 700;
    color: $color-primary;
    margin-block: 1rem;

    .intro-title-highlight {
      color: #000;
    }
  }

  .intro-subtitle {
    font-weight: 500;
    color: #000;
    font-size: 1.2rem;
  }

  .intro-cta {
    margin-top: 2rem;

    .intro-cta-btn {
      @include get-started-button;
      padding: 15px 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .intro-content {
    .intro-title {
      font-size: 1.5rem;
    }

    .intro-subtitle {
      font-size: 1rem;
    }
  }
  
}