.intro__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
    @include max-width(1200px);
  
    .intro__header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
  
      .intro__header-logo {
        img {
          width: 120px;
        }
      }
  
      .intro__header-navbar {
        display: flex;
  
        .intro__header-navbar-nav-list {
          display: flex;
          list-style: none;
          gap: 20px;
  
          .intro__header-navbar-nav-item {
            a {
              text-decoration: none;
              color: #000;
              font-weight: 400;
              font-size: 0.9rem;
  
              &:hover {
                color: darken($color-secondary, 10%);
              }
            }
          }
        }
      }
  
      .intro__header-burger {
        font-size: 2rem;
        cursor: pointer;
        background: none;
        border: none;
        color: #000;
  
        &:hover {
          color: darken($color-secondary, 10%);
        }
      }
  
      .intro__header-user-actions {
        display: flex;
        gap: 20px;
  
        a {
          text-decoration: none;
          color: $color-primary;
          font-weight: 600;
        }
      }
    }
    .sidebar-content{
      .intro__sidebar-nav{
        text-align: center;
      }
    }
  }
  

  
  @media (max-width: 768px) {
    .intro__header-content {
      .intro__header-navbar {
        display: none; // Hide the navbar on small screens
      }
  
      .intro__header-burger {
        display: block; // Show burger menu on small screens
      }
    }
  }
  