.toggle-switch {
  display: flex;
  border-radius: 11px;
  overflow: hidden;
  border: 1px solid;
}

.toggle-option {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgba(135, 102, 204, 0.2901960784);
  color: #000;
  font-size: 14px;
  transition: all 0.3s ease;

  &.active {
    background-color: $color-primary;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
}

// Media query to adjust for small screens
@media (max-width: 768px) {
  .toggle-switch {
    width: 200px; // Resize width for smaller screens
  }

  .toggle-option {
    font-size: 10px; // Reduce font size for smaller screens

    &.active {
      font-size: 12px; // Increase font size for active option
    }
  }
}

@media (max-width: 480px) {
  .toggle-switch {
    width: 200px; // Further reduce width for very small screens
  }

  .toggle-option {
    font-size: 10px; // Further reduce font size for very small screens
  }
}
