@import './intro/intro-content.scss';
@import './intro/intro-header.scss';

.intro {
    background-color: #f3f1fa47;
    background-image: url('/images/header-bg.jpg');
    background-size: cover;
    padding-bottom: 0;
    position: relative;
    margin-bottom: $spacing-md * 2;
  
  }
  