@import './intro/intro-content.scss';
@import './intro/intro-header.scss';

.intro {
    background-size: cover;
    padding-bottom: 0;
    position: relative;
    margin-bottom: $spacing-md * 2;
  }
  