.services {
  @include max-width(1200px);
  padding: 2rem;
  margin-block: 2rem;

  &__title {
    font-size: 2rem;
    max-width: 100%;
    text-align: start;
    line-height: 1.2;
    width: 44%;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Default to 3 columns
    gap: $spacing-xxl;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr); // Change to 2 columns for tablets
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr; // Change to 1 column for mobile devices
    }
  }

  &__card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;

    &-icon {
      align-items: center;
      background: #fbfaf9;
      border-radius: 50%;
      display: flex;
      height: 100px;
      justify-content: center;
      margin-bottom: 30px;
      width: 100px;
      font-size: 2rem; // Ensure icon size fits the circle
      color: #666;
    }

    &-title {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      font-weight: bold;
      color: #333;
    }

    &-description {
      font-size: 1rem;
      color: #666;
      line-height: 1.9;
    }
  }

  // Custom margin adjustments for the second and third cards
  .mt-50 {
    margin-top: 50px;
  }

  .mt-100 {
    margin-top: 100px;
  }

  .mb-50 {
    margin-bottom: 50px;
  }

  .mb-100 {
    margin-bottom: 100px;
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 1.5rem; // Decrease title font size for smaller screens
      margin-bottom: 1.5rem;
    }

    &__card {
      padding: 1rem; // Reduce padding for smaller screens
    }
  }
}

/* Handle RTL styling at the end */
[dir='rtl'] {
  .services {
    &__title {
      text-align: right; // Align titles to the right for RTL
    }

    &__card {
      text-align: right; // Align card content to the right for RTL

      &-icon {
        margin-right: 0; // Remove any left margin
        margin-left: 1rem; // Add margin to the left instead
      }

      &-title,
      &-description {
        text-align: right; // Align the title and description to the right
      }
    }
  }
}
