@mixin get-started-button {
  font-weight: 500;
  padding: 10px 20px;
  font-size: 14px;
  border-color: #422e87;
  background-color: #422e87;
  border-radius: 30px;
  color: #fff;
  line-height: 1.5;
  border: none;
}
